<%= form_for @user, url: users_path, method: :post do |f| %>

  <% if @user.errors.any? %>
    <h3><%= pluralize(@user.errors.count, "error") %> found.</h3>
    <ul>
      <% @user.errors.each_with_index do |msg, i| %>
        <li><%= "#{msg[0]}, #{msg[1]}" %></li>
      <% end %>
    </ul>
    <% end %>


  <p>
    <%= f.label "First Name" %><br>
    <%= f.text_field :fname, class: "form-control" %>
  </p>
  <p>
    <%= f.label "Last Name" %><br>
    <%= f.text_field :lname, class: "form-control" %>
  </p>
  <p>
    <%= f.label "Email Address" %><br>
    <%= f.text_field :email, class: "form-control" %>
  </p>
  <p>
    <%= f.label "Password" %><br>
    <%= f.password_field :password, class: "form-control" %>
  </p>
  <p>
    <%= f.label "Password Confirmation" %><br>
    <%= f.password_field :password_confirmation, class: "form-control"%>
  </p>

  <p>
    <%= f.submit "Signup", class: "btn btn-primary" %>
  </p>

<% end %>
