<%= form_for([@user, @user.tasks.build]) do |f| %>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :tag_list %><br>
    <%= f.text_field :tag_list %>
  </p>

    <%= hidden_field_tag "task[category]", "#{category}" %>
  <p>
    <%= f.submit %>
  </p>
<% end %>
