<div class="container">
  <div class="task_form">
    <%= form_for([@user, @user.tasks.build]) do |f| %>
      <div class="row", id="task-information-form">
        <p>
          <%= f.text_field :description, placeholder: "task description" %>
        </p>

        <p>
          <%= f.text_field :tag_list, placeholder: "enter list of tags" %>
        </p>

        <%= hidden_field_tag "task[category]", "#{category}" %>

        <p>
          <%= button_tag(type: 'submit', class: 'btn btn-default', id: 'add-button') do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </p>
      </div>
    <% end %>

  </div>
</div>
