
<div class="container">

  <h1><%= @task.description %></h1>

  <%= form_for [@task.user, @task] do |f| %>

    <%= link_to user_task_path(@task.user, @task), class: "btn btn-default pull-right", id: "delete-button", method: :delete do %>
      <span class="glyphicon glyphicon-remove"></span>
    <% end %>

    <%= f.label :description %><br>
    <%= f.text_field :description %><br><br>
    <%= f.label :category %><br>
    <%= f.text_field :category %><br><br>

    <%= button_tag(type: 'submit', class: 'btn btn-default', id: 'add-button') do %>
      <span class="glyphicon glyphicon-plus"></span>
    <% end %>
  <% end %>
</div>
