<h1><%= @user.fname %></h1>
<h2>Score: <%= @user.score %></h2>
<h2>Likes: <%= @user.likes %></h2>

<div class="tasks_container">

  <div class="play_tasks">
    <h2>Play</h2>
    <%= render partial: 'tasks/form', locals: { :category => "play" } %>
    <%= render partial: 'tasks/show', locals: { :object => @play_tasks } %>
  </div>

  <div class="work_tasks">
    <h2>Work</h2>
    <%= render partial: 'tasks/form', locals: { category: "work" } %>
    <%= render partial: 'tasks/show', locals: { :object => @work_tasks } %>
  </div>
</div>
