<h1><%= @user.fname %></h1>
<h2>Score: <%= @user.score %></h2>

<div class="tasks_container">

  <div class="play_tasks">
    <h2>Play</h2>
    <%= render partial: 'tasks/form' %>

    <ul>
      <% @play_tasks.each do |task| %>
        <li>
          <% if task.completed %>
            <strong><%= task.description %></strong><br>

            Tag list:
              <% task.tags.each do |tag| %>
                <%= link_to tag.content, tag_path(tag) %>
              <% end %>

            <%= link_to "Delete", user_task_path(task.user, task), method: :delete %>
          <% else %>
            Not completed.
            <%= task.description %><br>

            Tag list:
              <% task.tags.each do |tag| %>
                <%= link_to tag.content, tag_path(tag) %>
              <% end %>
              
            <%= link_to "Delete", user_task_path(task.user, task), method: :delete %>
            <%= link_to "Edit", edit_user_task_path(task.user, task) %>,
            <%= link_to "Mark Complete", complete_user_task_path(task.user, task) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="work_tasks">
    <h2>Work</h2>
    <%= render partial: 'tasks/form' %>

    <ul>
      <% @work_tasks.each do |task| %>
      <li>
        <% if task.completed %>
          <strong><%= task.description %></strong>
          <%= link_to "Delete", user_task_path(task.user, task), method: :delete %>
        <% else %>
          Not completed.
          <%= task.description %>
          <%= link_to "Delete", user_task_path(task.user, task), method: :delete %>
          <%= link_to "Edit", edit_user_task_path(task.user, task) %>,
          <%= link_to "Mark Complete", complete_user_task_path(task.user, task) %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
