<!DOCTYPE html>
<html>
<head>
  <title>WorkAndPlay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", home_path, class: "navbar-brand" %></li>
      <li><%= link_to "All Users", users_path %></li>
      <li><%= link_to "All Tags", tags_path %></li>
      <li><%= link_to "Your Tags", user_tags_path(current_user) %></li>
      <li><%= link_to "All Tasks", all_tasks_path %></li>
    </ul>

    <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Logout", logout_path %></li>
    </ul>
  </nav>
<% end %>

<p><%= flash.notice %></p>
<%= yield %>

</body>
</html>
